.app-form {
  margin-top: 1rem;

  &__row:not(:first-child):not(&__row--no-top-padding) {
    padding-top: 1rem;
  }

  &__row-group-label-wrapper {
    width: 220px;
    min-height: 28px;
    padding-right: 24px;
  }

  &__row-group-label {
    color: $n200;

    &--single {
      min-height: 40px;
    }
  }

  &__row--no-group-label {
    padding-left: 220px;
  }

  &__column-sub-row {
    margin-top: 10px;
  }

  &__require-label {
    margin-left: 4px;
  }

  &__controls-wrapper:not(&__controls-wrapper--stand-alone) {
    margin-left: -10px;
  }

  &__control-column:not(&__control-column--stand-alone) {
    margin-left: 10px;
  }

  &__control-radio-wrapper:not(:first-child) {
    margin-top: 6px;
  }

  &__control-radio-custom-field-wrapper {
    width: 100%;
    margin-top: 12px;
  }

  &__control-radio-label,
  &__control-checkbox-label {
    display: block;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    user-select: none;
  }

  &__control-radio-label--disabled,
  &__control-checkbox-label--disabled {
    cursor: default;
  }

  &__control-radio,
  &__control-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
  }

  &__control-radio-checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    transition: $default-transition;
    border: 2px solid $n040;
    border-radius: 50%;
    background-color: $n010;

    &::after {
      content: '';
      display: none;
      position: absolute;
      transition: $default-transition;
    }
  }

  &__control-checkbox-checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    transition: $default-transition;
    border: 2px solid $n040;
    border-radius: 2px;
    background-color: $n010;
  }

  &__control-checkbox-checkmark-icon-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__control-checkbox-checkmark-icon {
    display: block;
    transition: $default-transition;
    fill: transparent;
  }

  &__control-radio-label .app-form__control-radio:checked ~ .app-form__control-radio-checkmark {
    border-color: $scb300;
    background-color: $scb300;
  }

  &__control-checkbox-label .app-form__control-checkbox:checked ~ .app-form__control-checkbox-checkmark {
    border-color: $scb300;
    background-color: $scb300;

    .app-form__control-checkbox-checkmark-icon {
      fill: $bs000;
    }
  }

  &__control-radio-label:hover .app-form__control-radio ~ .app-form__control-radio-checkmark {
    background-color: $n030;
  }

  &__control-checkbox-label:hover .app-form__control-checkbox ~ .app-form__control-checkbox-checkmark {
    background-color: $n030;
  }

  &__control-radio-label .app-form__control-radio[disabled] ~ .app-form__control-radio-checkmark {
    border-color: $n020;
    background-color: $n020;
  }

  &__control-radio-label:hover .app-form__control-radio:checked ~ .app-form__control-radio-checkmark {
    border-color: $scb500;
    background-color: $scb500;
  }

  &__control-checkbox-label:hover .app-form__control-checkbox:checked ~ .app-form__control-checkbox-checkmark {
    border-color: $scb500;
    background-color: $scb500;
  }

  &__control-radio-label .app-form__control-radio-checkmark::after {
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $bs000;
  }

  &__control-radio-label .app-form__control-radio:checked ~ .app-form__control-radio-checkmark::after {
    display: block;
  }

  &__control-radio-label .app-form__control-radio[disabled]:checked ~ .app-form__control-radio-checkmark::after {
    background-color: $n070;
  }

  &__control-radio-label:hover .app-form__control-radio[disabled]:checked ~ .app-form__control-radio-checkmark::after {
    background-color: $n070;
  }

  &__control-radio-label:hover .app-form__control-radio[disabled] ~ .app-form__control-radio-checkmark {
    border-color: $n020;
    background-color: $n020;
    cursor: default;
  }

  &__control-column--three-quarters {
    width: calc(75% - 10px);
  }

  &__control-column--half {
    width: calc(50% - 10px);
  }

  &__control-column--third {
    width: calc(100% / 3 - 10px);
  }

  &__control-column--quarter {
    width: calc(25% - 10px);
  }

  &__control {
    width: 100%;
    height: 40px;
    padding: 0 8px;
    overflow: hidden;
    transition: $default-transition;
    border: $default-control-border;
    border-radius: $default-control-border-radius;
    outline: none;

    &:focus {
      border-color: $scb300;
      background-color: $n010;
    }

    &[disabled] {
      border-color: $n030;
      background-color: $n030;
    }
  }

  &__control-checkbox {
    margin-right: 10px;
  }

  &__article {
    .article__paragraph:first-child {
      margin-top: 0;
    }

    .article__paragraph:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__confirm-button {
    margin: 36px 0 0 auto;
  }

  &__text {
    color: $n200;
  }
}
