.app-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  padding: 0 60px;
  background-color: $n010;

  &__footer-copyright {
    color: $n600;
  }
}
