.bread-crumbs {
  margin-bottom: 20px;
  list-style: none;

  &__item:not(:first-child) {
    margin-left: 8px;
  }

  &__item:not(:first-child)::before {
    content: '/';
    display: inline-block;
    margin-right: 8px;
  }
}
