%indent {
  margin-top: 10px;
}

%list-styles {
  @extend %indent;

  list-style: none;
}

.article {
  &__subtitle {
    margin-top: 1rem;
  }

  &__paragraph {
    @extend %indent;

    &:first-child {
      margin-top: 20px;
    }
  }

  &__list,
  &__ordered-list {
    li:not(:first-child) {
      @extend %indent;
    }
  }

  &__ordered-list {
    margin: 0;

    &:not(:first-child) {
      @extend %indent;
    }
  }

  &__list--default {
    padding-left: 20px;
    list-style: disc;

    &:not(:first-child) {
      @extend %indent;
    }
  }

  &__list:not(&__list--default) {
    @extend %list-styles;
  }

  &__inner-list {
    @extend %list-styles;

    padding-left: 40px;

    li:not(:first-child) {
      @extend %indent;
    }
  }

  &__button {
    margin-top: 2rem;

    &--on-right {
      margin-left: auto;
    }
  }
}
