/* Form more styles weight used id selector */
#app {
  .attachments-list.attachments-list--fill-border {
    overflow: hidden !important;
    border: $default-control-border !important;
    border-radius: $default-control-border-radius !important;
  }

  .attachments-list {
    .attachments-list__container-item {
      margin: 0;
      background-color: $n030;
    }

    .attachments-list__hover-fader {
      display: block;
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
    }

    .attachments-list__container-item-buttons {
      display: flex;
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
    }

    .attachments-list__container-item:hover {
      .attachments-list__hover-fader {
        z-index: 100;
        opacity: 0.18;
      }

      .attachments-list__container-item-buttons {
        z-index: 110;
        opacity: 1;
      }
    }

    .attachments-list__container-item-button {
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;
    }

    &__empty-block {
      border: none !important;
      border-radius: initial !important;
      background-color: $n020 !important;
    }

    &__empty-block-icon {
      path:first-child {
        stroke: $n200 !important;
      }

      path:last-child {
        fill: $n200 !important;
      }
    }

    &__empty-block-text.caption-primary {
      @extend %text-regular;

      color: $n200 !important;
      font-size: 12px !important;
    }

    &__add-file-link {
      color: $scb300 !important;

      &:hover {
        color: $scb500 !important;
      }
    }

    &__warning-label.body-1-primary {
      @extend %text-regular;

      margin: 0 !important;
      color: $n200 !important;
      font-size: 12px !important;
      text-align: initial !important;
    }
  }
}
