.pagination-custom {
  &__page-number {
    margin-right: 10px;
    color: $scb500;
    cursor: pointer;

    &--selected {
      color: $n070;
    }
  }

  &__wrapper {
    @extend %text-regular;

    font-size: 14px;
  }

  &__ellipsis {
    position: relative;
    bottom: 4px;
    margin-right: 10px;
    color: $scb500;
    cursor: pointer;
  }

  &__prev-page {
    color: $n060;
    cursor: pointer;
  }

  &__next-page {
    margin-left: -10px;
    color: $n400;
    cursor: pointer;
  }
}
