/* Form more styles weight used id selector */
#app {
  .input-block__fields-error {
    transition: $default-transition !important;
    font-size: 12px;
  }

  .input-block {
    input,
    textarea {
      padding: 0 8px;
      overflow: hidden;
      transition: $default-transition;
      border: $default-control-border !important;
      border-radius: $default-control-border-radius;
      outline: none;
      color: $n900;

      &:focus {
        border-color: $scb300 !important;
        background-color: $n010;
      }

      &[disabled] {
        border-color: $n030 !important;
        background-color: $n030 !important;
        cursor: default;
      }
    }

    input::placeholder,
    textarea::placeholder {
      color: $n200;
    }
  }

  .input-block.input-block--error {
    .input-block__fields-error {
      @extend %text-regular;

      color: $ra400 !important;
    }

    input,
    textarea {
      border-color: $ra400 !important;

      &[disabled] {
        border-color: $n030 !important;
        background-color: $n030 !important;
        cursor: default;
      }

      &[disabled] ~ .input-block__fields-error {
        opacity: 0 !important;
      }
    }
  }

  .input-block__label {
    @extend %text-semi-bold;

    display: flex;
    align-items: center;
    min-height: 28px;
    margin: 0;
    padding: 0;
    color: $n200 !important;
    font-size: 12px !important;

    span {
      display: inline-block;
      margin-left: 4px;
    }
  }
}
