.empty-message {
  padding: 8px 12px;
  overflow: hidden;
  border: 1px solid $n050;
  border-radius: $default-border-radius;
  background-color: $n020;

  p,
  div {
    @extend %text-bold;
  }

  p:not(:first-child),
  div:not(:first-child) {
    margin-top: 4px;
  }
}
