.input {
  width: 100%;

  &__title {
    margin-bottom: 4px;
  }

  &__input {
    @extend %text-regular;

    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    border-color: $bc300;
    color: $bs900;

    &:focus-visible {
      margin: 0;
      border-bottom: 2px solid $bs900;
      outline: 0;
    }
  }
}
