.modal {
  position: relative;
  width: 40%;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
  color: $bs900;

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($bs900, 0.7);
  }

  &__header {
    width: 100%;
    margin: 0 0 20px 0;
  }

  &__close {
    color: $bs900;
    font-size: 20px;
    text-decoration: none;
  }

  &__svg {
    margin-top: 6px;
  }
}
