.button {
  width: 100%;

  &__button {
    @extend %text-semi-bold;

    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: $su500;
    color: $bs900;
    font-size: 12px;
    cursor: pointer;
  }
}
