.service-preview {
  padding: 30px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: $default-box-shadow;

  &__title {
    margin-top: 20px;
    color: $n900;
  }

  &__title,
  &__description {
    text-align: center;
  }

  &__description {
    margin-top: 10px;
    margin-bottom: 20px;
    color: $n600;
  }

  &__button {
    height: 44px;
    margin-top: auto;
    padding: 0 20px;
    overflow: hidden;
    border: 1px solid $n040;
    border-radius: 22px;
  }

  &__button:hover {
    border: none;
    background-image: linear-gradient(90deg, #2f57db -0.25%, #30b1df 99.75%);
    color: $n000;

    .service-preview__button-icon {
      fill: $n000;
    }
  }

  &__button-icon-wrapper {
    margin-left: 20px;
  }

  &__button-icon {
    fill: $n800;
  }
}
