* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  min-width: 1440px;
}

html {
  font-size: 15px;
}

body {
  @extend %text-regular;

  margin: 0;
  padding: 0;
  color: $n900;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-user-select: text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  letter-spacing: inherit;
}

section {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
}

button {
  border: 0;
  outline: none;
  background-color: transparent;
}

figure,
ul,
p {
  margin: 0;
  padding: 0;
}

section,
p:not(:first-child) {
  margin-top: 1rem;
}

img {
  display: block;
}

header {
  padding: 0;
}

footer {
  font-size: inherit;
  font-style: normal;
}

svg {
  title {
    display: none;
  }
}

a {
  color: currentColor;
  text-decoration: none;

  &.caption-link {
    color: $scb300;

    &:hover {
      color: $scb500;
    }
  }
}

.container {
  @extend %container;
}

.toast-notification {
  font-size: 20px !important;
}

.main-body {
  width: 100%;
  overflow-x: hidden;
}

.checkbox-inline {
  padding-left: 0 !important;
}

.link-text {
  color: $scb300;

  &--current {
    color: currentColor;
  }

  &:hover {
    color: $scb500;
    text-decoration: underline;
  }
}

.modal-trigger {
  color: $scb300;
  cursor: pointer;

  &:hover {
    color: $scb500;
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.global-toast {
  border-radius: 6px;
  color: $bs000 !important;
  font-size: 18px;

  &.toastify-content {
    &--success {
      background: $ae500 !important;
    }

    &--error {
      background: $ru500 !important;
    }
  }

  .toast-link {
    color: $bs000 !important;
    text-decoration: underline;

    &:hover {
      color: $scb500 !important;
    }
  }
}

.not-found {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.pointer {
  cursor: pointer;
}

.require {
  color: $ru500;
}

.uppercase {
  text-transform: uppercase;
}

.grecaptcha-badge {
  display: none !important;
}
