.select {
  width: 100%;
  margin: 0 0 20px;

  &__body {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    border: 2px solid $bc200;
    border-radius: 4px;
  }

  &__name {
    margin: 0 0 4px;
  }

  select {
    &:focus {
      outline: none;
    }
  }
}
