.footer {
  width: 100%;

  &__copyright {
    width: calc(100% / 3);
    padding: 20px 0;
  }

  &__content {
    background-color: $n010;
    box-shadow: 0 0 10px 0 $n060;
  }

  &__content-text {
    width: 100%;
    padding: 24px 0;
    color: $bs090;
  }

  &__content-visible-name {
    cursor: pointer;
  }

  &__img {
    width: 100%;
  }
}
