.main-wrap {
  height: 100%;

  &__content-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    order: 1;
    min-height: 100vh;
  }

  &__main-content {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
  }

  &__content-footer {
    flex-shrink: 0;
  }

  &__sidebar {
    position: relative;
    width: 320px;
    height: 100vh;
    overflow: auto;
    background-color: $n020;
    box-shadow: $default-box-shadow;
  }

  &__sidebar-home-link {
    @extend %text-bold;

    padding: 20px;
    transition: $default-transition;
    color: $n600;
    font-size: 18px;
    text-decoration: none;
  }

  &__sidebar-home-link-icon-wrapper {
    margin-right: 20px;
  }

  &__sidebar-home-link-icon {
    transition: $default-transition;
    fill: $n500;
  }
}
