@font-face {
  font-family: 'sFProDisplayRegular';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/SFProDisplay-Regular.eot');
  src: url('../../assets/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/SFProDisplay-Regular.woff2') format('woff2'), url('../../assets/fonts/SFProDisplay-Regular.woff') format('woff'), url('../../assets/fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'sFProDisplayBold';
  font-style: normal;
  font-weight: bold;
  src: url('../../assets/fonts/SFProDisplay-Bold.eot');
  src: url('../../assets/fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/SFProDisplay-Bold.woff2') format('woff2'), url('../../assets/fonts/SFProDisplay-Bold.woff') format('woff'), url('../../assets/fonts/SFProDisplay-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'sFProDisplayMedium';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/SFProDisplay-Medium.eot');
  src: url('../../assets/fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/SFProDisplay-Medium.woff2') format('woff2'), url('../../assets/fonts/SFProDisplay-Medium.woff') format('woff'), url('../../assets/fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'sFProDisplaySemibold';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/SFProDisplay-Semibold.eot');
  src: url('../../assets/fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/SFProDisplay-Semibold.woff2') format('woff2'), url('../../assets/fonts/SFProDisplay-Semibold.woff') format('woff'), url('../../assets/fonts/SFProDisplay-Semibold.ttf') format('truetype');
  font-display: swap;
}
