%container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

@mixin maxWidth($resolution) {
  @media (max-width: #{$resolution}px) {
    @content;
  }
}

@mixin minWidth($resolution) {
  @media (min-width: #{$resolution}px) {
    @content;
  }
}

@mixin range($minResolution, $maxResolution) {
  @media (min-width: #{$minResolution}px) and (max-width: #{$maxResolution}px) {
    @content;
  }
}

@mixin geIE10() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

@mixin geFF16() {
  @supports (-moz-appearance:meterbar) {
    @content;
  }
}

@mixin geEdge16() {
  @supports (-ms-ime-align:auto) {
    @content;
  }
}
