@import 'wsColorMap';

/* Colors */

/* Neutral */
$n000: #fff;
$n010: #fafbfc;
$n020: #f4f5f7;
$n030: #ebecf0;
$n040: #dfe1e6;
$n050: #c1c7d0;
$n060: #b3bac5;
$n070: #a5adba;
$n080: #97a0af;
$n090: #8993a4;
$n100: #7a869a;
$n200: #6b778c;
$n300: #5e6c84;
$n400: #505f79;
$n500: #42526e;
$n600: #344563;
$n700: #253858;
$n800: #172b4d;
$n900: #091e42;

/* Star Command Blue */
$scb010: #edf6fc;
$scb300: #2b91de;
$scb350: #309ede;
$scb400: #2186d4;
$scb500: #1e7bc1;

/* Green RYB */
$gr020: #f4faf0;
$gr030: #e8f5e0;
$gr040: #ddf0d1;
$gr050: #d1ebc2;
$gr060: #c6e6b3;
$gr070: #bbe0a3;
$gr080: #afdb94;
$gr090: #a4d685;
$gr100: #98d175;
$gr200: #8dcc66;
$gr300: #82c757;
$gr400: #76c247;
$gr500: #68b13b;
$gr600: #63a838;
$gr700: #5a9933;
$gr800: #487a29;
$gr900: #3f6b24;

/* Units */
$container-width: 1272px;
$break-point-sm: 360;
$break-point-md: 768;

$default-border: 1px solid $bs010;
$default-control-border: 2px solid $n030;
$default-control-border-radius: 3px;
$default-border-radius: 4px;
$default-box-shadow: 0 0 1px rgba($n900, 0.31), 0 4px 8px rgba($n900, 0.25);
$default-transition-duration: 150ms;
$default-transition: all $default-transition-duration ease;
