%text-bold {
  font-family: 'sFProDisplayBold', sans-serif;
  font-weight: bold;
}

%text-medium {
  font-family: 'sFProDisplayMedium', sans-serif;
  font-weight: 500;
}

%text-regular {
  font-family: 'sFProDisplayRegular', sans-serif;
  font-weight: normal;
}

%text-semi-bold {
  font-family: 'sFProDisplaySemibold', sans-serif;
  font-weight: 600;
}

/* Action */
.text-action-1 {
  @extend %text-medium;

  font-size: 15px;
}

/* Body */
.text-body-1 {
  @extend %text-regular;

  font-size: 14px;
}

.text-body-2 {
  @extend %text-regular;

  font-size: 15px;
}

.text-body-3 {
  @extend %text-regular;

  font-size: 18px;
}

/* Caption */
.text-caption-1 {
  @extend %text-regular;

  font-size: 12px;
}

/* Header */
.text-header-1 {
  @extend %text-bold;

  font-size: 44px;
  line-height: 1.1;
}

/* Label */
.text-label-1 {
  @extend %text-semi-bold;

  font-size: 12px;
}

.text-label-2 {
  @extend %text-semi-bold;

  font-size: 14px;
}

/* Subheader */
.text-subheader-1 {
  @extend %text-bold;

  font-size: 16px;
}

.text-subheader-2 {
  @extend %text-bold;

  font-size: 20px;
}

.text-subheader-3 {
  @extend %text-bold;

  font-size: 24px;
}

.text-subheader-4 {
  @extend %text-bold;

  font-size: 30px;
}

.text-subheader-5 {
  @extend %text-bold;

  font-size: 36px;
}
