.forward-group-link {
  display: flex;
  height: 100%;
  padding: 16px;
  transition: $default-transition;
  border: $default-control-border;
  border-radius: 10px;

  &:hover {
    border-color: $n020;
    background-color: $n020;
    box-shadow: $default-box-shadow;
  }

  &__icon-wrapper {
    flex-shrink: 0;
  }

  &__text {
    display: -webkit-box;
    flex-grow: 1;
    margin: 0 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
