.main-header {
  width: 100%;

  .base-date-picker {
    margin-bottom: 0;
  }

  &__main-img {
    width: 100%;
  }

  &__reservation {
    position: absolute;
    top: 60px;
    width: 340px;
  }

  &__reservation-date {
    width: 100%;
    margin-bottom: 14px;
  }

  &__service {
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
    border-top: 2px solid $bs040;
    border-bottom: 2px solid $bs040;
  }

  &__service-content {
    padding: 0 70px;
  }

  &__gallery {
    width: 1000px;
    margin: 20px 0;
  }

  &__gallery-title {
    margin-bottom: 12px;
  }

  &__check-mark {
    margin-right: 4px;
  }

  &__gallery-img {
    width: 300px;
    height: 200px;
    margin-right: 12px;
    margin-bottom: 12px;
    border-radius: 4px;

    &:nth-child(3),
    &:last-child() {
      margin-right: 0;
    }
  }

  &__booking {
    margin-bottom: 6px;
    color: $ae000;
  }

  &__date-arrival {
    color: $ae000;
  }

  &__input {
    @extend %text-regular;

    width: 180px;
  }

  &__button {
    width: 100%;
  }
}
