.main-menu {
  width: 100%;
  background-color: $n030;

  &__content {
    width: 1200px;
    padding: 16px 0;
  }

  &__content-svg {
    width: 24px;
    margin-right: 6px;
  }

  &__title {
    margin-right: 20px;
    cursor: pointer;
  }

  &__text-left-side {
    color: $bs090;
    cursor: pointer;
  }

  &__text-right-side {
    color: $bs090;
  }
}
